.DS_Store
.vscode/*
_build/
_static/
_templates/

Damn-Vuln-IoT-SoC/litedram/
Damn-Vuln-IoT-SoC/liteeth/
Damn-Vuln-IoT-SoC/liteiclink/
Damn-Vuln-IoT-SoC/litejesd204b/
Damn-Vuln-IoT-SoC/litepcie/
Damn-Vuln-IoT-SoC/litesata/
Damn-Vuln-IoT-SoC/litescope/
Damn-Vuln-IoT-SoC/litesdcard/
Damn-Vuln-IoT-SoC/litespi/
Damn-Vuln-IoT-SoC/migen/
Damn-Vuln-IoT-SoC/pythondata-cpu-lm32/
Damn-Vuln-IoT-SoC/pythondata-cpu-mor1kx/
Damn-Vuln-IoT-SoC/pythondata-cpu-naxriscv/
Damn-Vuln-IoT-SoC/pythondata-cpu-serv/
Damn-Vuln-IoT-SoC/pythondata-cpu-vexriscv-smp/
Damn-Vuln-IoT-SoC/pythondata-misc-tapcfg/
Damn-Vuln-IoT-SoC/pythondata-misc-usb_ohci/
Damn-Vuln-IoT-SoC/pythondata-software-compiler_rt/
Damn-Vuln-IoT-SoC/pythondata-software-picolibc/
Damn-Vuln-IoT-SoC/valentyusb/

Damn-Vuln-IoT-SoC/litex/litex/soc/software/firmware/firmware/*

*.bin
*.o
*.fbi
*.elf
*.elf.map

*.bck